.streams__carousel {
  grid-area: carousel;

  .carousel {
    height: 100%;
    position: relative;

    .carousel__item {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      opacity: 1;
      transition: all 0.5s ease-in-out;
      width: 65%;
      height: 430px;
      margin: auto;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

      @media screen and(max-width: 1250px) {
        width: 75%;
      }
      @media screen and(max-width: 1000px) {
        width: 75%;
        height: 330px;
      }
      @media screen and(max-width: 700px) {
        width: 85%;
        height: 250px;
      }

      .carousel__image {
        @include video;
        width: 70%;
        height: 100%;
        @media screen and(max-width: 700px) {
          width: 80%;
        }
      }

      .info {
        padding: 5px;
        display: flex;
        flex-flow: column nowrap;
        background-color: $color-secondary;
        width: 30%;
        @media screen and(max-width: 700px) {
          width: 20%;
        }

        .gallery__info {
          max-height: 100%;
          width: 100%;
          display: flex;
          padding: 5px;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          gap: 5px;

          .gallery__profile {
            @include profile-foto;
          }

          .gallery__text {
            @include video-description;

            .video-name {
              font-weight: bold;
            }

            .profile-name {
              font-size: 0.8rem;
            }
          }
        }

        .text {
          max-width: 100%;
          height: 100%;
          padding: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}