.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  color: $color-primary;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  .footer__capture {
    display: flex;
    flex-flow: row nowrap;
    color: $color-primary;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .footer__text {
      margin: 0;
      font-weight: 700;
    }

    .footer__link {
      width: 1rem;
      height: 1rem;
      color: $color-primary;

      &:hover {
        color: blue;
        cursor: $cursor-pointer;
      }
    }

  }
}