.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 1%;
  max-width: 100%;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  .gallery__item {
    width: 100%;
    max-width: 100%;

    .gallery__video {
      @include video;
      width: 100%;
      height: 300px;

      @media screen and (max-width: 1750px) {
        height: 200px;
      }
      @media screen and (max-width: 700px){
          height: 250px;
      }

      .video__info {
        @include video-status;
        background: rgba(200, 54, 54, 0.5);
        bottom: 10px;
        right: 10px;
      }
    }

    .gallery__info {
      height: 50px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 95%;
      justify-content: space-between;
      gap: 5px;

      .gallery__profile {
        @include profile-foto;
        background-color: $color-secondary;
      }

      .gallery__text {
        @include video-description;

        .video-name {
          font-weight: bold;
        }

        .profile-name {
          font-size: 0.8rem;
        }
      }

      .gallery__settings {
        @include icons($font-primary, $color-interactive-text);
        width: fit-content;
        cursor: $cursor-pointer;
      }
    }
  }
}