body {
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  display: grid;
  grid: "header header"
        "sidebar main"
        "none main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  cursor: $cursor;

  @media screen and(max-width: 1250px){
    grid-template-columns: 50px 1fr;
  }
}

a::selection, p::selection, h2::selection, h1::selection {
  background-color: $color-interactive;
}

.fas {
  width: 100%;
  margin: auto;
}