.header{
  grid-area: header;
  background-color: white;
  box-shadow: 0 5px 7px -5px rgba(34, 60, 80, 0.4);
  display: grid;
  grid: "title search info";
  grid-template-columns: 20% 60% 20%;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1;

  @media screen and (max-width: 1000px){
    grid-template-columns: 40% 30% 30%;
  }
  @media screen and (max-width: 450px){
    grid-template-columns: 20% 50% 30%;
  }
}

.title {
  padding-left: 1rem;
  grid-area: title;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 700px){
    gap: 10px;
  }

  .title__link {
    text-decoration: none;
    cursor: $cursor-pointer;

    .title__logo {
      @include icons($color-interactive, $color-interactive);
    }

    .title__heading {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      color: $color-interactive;
      white-space: nowrap;

      @media screen and (max-width: 700px){
        font-size: 1.5rem;
      }
      @media screen and (max-width: 450px){
        display: none;
      }
    }
  }
}

.search-bar {
  grid-area: search;
  display: flex;
  align-items: center;

  .search-bar__inputs {
    display: flex;
    justify-content: center;
    width: 100%;

    .search-bar__input {
      width: 50%;
      border: 1px solid $color-secondary;
      border-radius: 5px 0 0 5px;
      padding-left: 10px;

      @media screen and (max-width: 1000px){
        width: 70%;
      }

      &:active {
        outline: $color-interactive;
      }

      &::placeholder {
        font-family: "Roboto", sans-serif;
      }
    }

    .search-bar__button {
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-secondary;
      border-radius: 0 5px 5px 0;
      cursor: $cursor-pointer;

      .fa-search {
        color: $color-primary;
      }

      &:hover {
        background-color: $color-interactive-hover;
        cursor: $cursor-pointer;
      }
    }

    .search-bar__sound {
      @include icons();
      display: flex;
      align-items: center;
      margin: auto 1rem;
      cursor: $cursor-pointer;
    }
  }
}

.navigation {
  grid-area: info;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: end;
  margin-right: 1rem;


  .navigation__bell {
    @include icons();
    display: flex;
    align-items: center;
    margin: auto 1rem;
    cursor: $cursor-pointer;

    @media screen and (max-width: 700px){
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid $color-interactive;
  border-radius: 50%;
  background-color: $color-interactive;
  position: relative;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    cursor: $cursor-pointer;
  }

  &:hover .menu__links {
    display: flex;
  }

  .fa-paw {
    max-width: 30%;
  }

  .menu__links {
    padding-top: 30px;
    top: 2rem;
    right: 0;
    position: absolute;
    display: none;

    .menu__links-container {
      flex-flow: column nowrap;
      box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.36);
      background-color: white;
      border-radius: 5px;


      .menu__link {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        width: 10rem;
        text-decoration: none;
        color: $color-primary;

        &:hover {
          background-color: $color-secondary;
          cursor: $cursor-pointer;
        }

        .fas {
          width: 1rem;
          height: 1rem;
          margin: 0;
        }

        .menu__text {
          margin: 0;
        }
      }

      .menu__link_color_red {
        color: red;
        border-top: 1px solid $color-primary;
      }
    }
  }
}