.main {
  grid-area: main;
  display: grid;
  grid: "navigation"
        "carousel"
        "gallery"
        "footer";
  grid-template-rows: 80px 500px 1fr 80px;
  grid-template-columns: auto;
  position: relative;
  overflow: hidden;
}

.categories {
  padding: 10px;
  grid-area: navigation;
  display: grid;
  grid: "scroll";
  grid-template-columns: 1fr;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .categories_scroll {
    display: grid;
    grid-area: scroll;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
  }

  .category {
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: white;
    background-color: $color-interactive;
    border-color: $color-interactive;

    &:link {
      background-color: $color-secondary;
      color: $color-primary;
      border: 1px solid $color-interactive-hover;

      &:hover {
        color: $color-primary;
        background-color: $color-interactive-hover;
        border: 1px solid $color-interactive-hover;
        cursor: $cursor-pointer;
      }

      &:active {
        color: white;
        background-color: $color-interactive;
        border-color: $color-interactive;
      }
    }

    &:hover {
      background-color: #d4922f;
      border-color: #d4922f;
    }

    .category__name {
      padding: 5px 15px;
      white-space: nowrap;
      margin: 0;
      font-weight: 500;
    }
  }
}