@mixin icons($body-color : $color-secondary, $hover-color : $color-interactive-hover) {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: $body-color;

  &:hover {
    color: $hover-color;
  }
}

@mixin video-status {
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;

  p {
    margin: 0 5px;
  }
}

@mixin profile-foto {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  overflow: hidden;

  img {
    margin: auto;
    max-width: 100%;
  }
}

@mixin video-description {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;

  a {
    text-decoration: none;
    color: $color-primary;
    width: fit-content;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      color: blue;
      cursor: $cursor-pointer;
    }
  }
}

@mixin video {

  display: block;
  text-align: center;
  position: relative;

  overflow: hidden;
  background-color: black;

  img {
    display: block;
    width: 100%;
    max-height: none;
    margin: auto 0;
  }

  .video__status {
    display: none;
    @include video-status;
    background-color: red;
    top: 10px;
    left: 10px;
    cursor: $cursor-pointer;
  }

  .video__status_active {
    display: block;
  }

  .video__info {
    @include video-status;
    background: rgba(200, 54, 54, 0.5);
    bottom: 10px;
    right: 10px;
    cursor: $cursor-pointer;
  }

  .video__play {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 3rem;
    height: 3rem;
    color: white;
    opacity: 0;
    cursor: $cursor-pointer;

    .fas {
      width: 100%;
      height: 100%;
    }
  }

  &:hover img {
    opacity: 0.4;
    transition:opacity 0.5s;
  }

  &:hover .video__play {
    opacity: 1;
    transition:opacity 0.5s;
  }
}