.sidebar {
  grid-area: sidebar;
  display: grid;
  grid: "channels"
        "links";
  grid-template-rows: 1fr 200px;
  gap: 1px;
  height: calc(100vh - 80px);
  position: sticky;
  bottom: 0;
  top: 80px;

  @media screen and(max-width: 1200px){
      grid: "channels";
  }
}

.channels {
  grid-area: channels;
  background-color: $color-secondary;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .channel {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    font-weight: 700;
    gap: 5px;

    &:hover {
      background-color: $color-interactive-hover;
      cursor: $cursor-pointer;
    }
    @media screen and(max-width: 1250px) {
      justify-content: center;
      padding: 1rem 0;
    }

    .channel__profile-image {
      @include profile-foto;

      @media screen and(max-width: 1250px){
        width: 2rem;
      }
    }

    .channel__info {
      display: flex;
      flex-flow: row nowrap;
      width: 215px;
      align-items: center;
      text-decoration: none;
      padding: 0;
      justify-content: space-between;
      color: $color-primary;
      font-weight: 700;
      gap: 5px;

      @media screen and(max-width: 1250px){
          display: none;
      }

      .channel__text {
        width: 60%;

        .channel__name {
          width: fit-content;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          &:hover {
            color: $color-interactive-text;
          }
        }
      }

      .channel__status {
        display: flex;
        width: 2rem;
        height: 2rem;

        .active {
          background: rgba(255, 82, 82, 1);
          box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
          border-radius: 50%;
          margin: 10px;
          height: 0.5rem;
          width: 0.5rem;
          transform: scale(1);
          animation: pulse-red 2s infinite;

          @keyframes pulse-red {
            0% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
            }

            70% {
              transform: scale(1);
              box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
            }

            100% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            }
          }
        }
      }
    }
  }
}

.links {
  grid-area: links;
  background-color: #ebebeb;
  padding: 15px;

  @media screen and(max-width: 1250px){
    display: none;
  }

  .links__container {
    background-color: $color-interactive-hover;
    border-radius: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;

    .links__title {

      .links__heading {
        margin: 0;
      }
    }

    .links__social {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .link {
        @include icons($color-primary, $color-interactive-text);
        cursor: $cursor-pointer;
      }
    }
  }
}

