$color-interactive: #f6af44;
$color-secondary: #ebebeb;
$color-primary: #212121;
$color-interactive-hover: #d4d4d4;
$color-interactive-text: blue;


$font-primary: 'Roboto', sans-serif;

$cursor: url("../icons/_cursors/paws.svg") 9 0, auto;
$cursor-pointer:url("../icons/_cursors/tiger.svg")9 0, auto;
