body {
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  display: grid;
  grid: "header header" "sidebar main" "none main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  cursor: url("../icons/_cursors/paws.svg") 9 0, auto;
}
@media screen and (max-width: 1250px) {
  body {
    grid-template-columns: 50px 1fr;
  }
}

a::selection, p::selection, h2::selection, h1::selection {
  background-color: #f6af44;
}

.fas {
  width: 100%;
  margin: auto;
}

.main {
  grid-area: main;
  display: grid;
  grid: "navigation" "carousel" "gallery" "footer";
  grid-template-rows: 80px 500px 1fr 80px;
  grid-template-columns: auto;
  position: relative;
  overflow: hidden;
}

.categories {
  padding: 10px;
  grid-area: navigation;
  display: grid;
  grid: "scroll";
  grid-template-columns: 1fr;
  overflow-x: scroll;
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories .categories_scroll {
  display: grid;
  grid-area: scroll;
  grid-auto-flow: column;
  gap: 15px;
  align-items: center;
}
.categories .category {
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: white;
  background-color: #f6af44;
  border-color: #f6af44;
}
.categories .category:link {
  background-color: #ebebeb;
  color: #212121;
  border: 1px solid #d4d4d4;
}
.categories .category:link:hover {
  color: #212121;
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.categories .category:link:active {
  color: white;
  background-color: #f6af44;
  border-color: #f6af44;
}
.categories .category:hover {
  background-color: #d4922f;
  border-color: #d4922f;
}
.categories .category .category__name {
  padding: 5px 15px;
  white-space: nowrap;
  margin: 0;
  font-weight: 500;
}

.header {
  grid-area: header;
  background-color: white;
  box-shadow: 0 5px 7px -5px rgba(34, 60, 80, 0.4);
  display: grid;
  grid: "title search info";
  grid-template-columns: 20% 60% 20%;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 40% 30% 30%;
  }
}
@media screen and (max-width: 450px) {
  .header {
    grid-template-columns: 20% 50% 30%;
  }
}

.title {
  padding-left: 1rem;
  grid-area: title;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .title {
    gap: 10px;
  }
}
.title .title__link {
  text-decoration: none;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.title .title__link .title__logo {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: #f6af44;
}
.title .title__link .title__logo:hover {
  color: #f6af44;
}
.title .title__link .title__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  color: #f6af44;
  white-space: nowrap;
}
@media screen and (max-width: 700px) {
  .title .title__link .title__heading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .title .title__link .title__heading {
    display: none;
  }
}

.search-bar {
  grid-area: search;
  display: flex;
  align-items: center;
}
.search-bar .search-bar__inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-bar .search-bar__inputs .search-bar__input {
  width: 50%;
  border: 1px solid #ebebeb;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}
@media screen and (max-width: 1000px) {
  .search-bar .search-bar__inputs .search-bar__input {
    width: 70%;
  }
}
.search-bar .search-bar__inputs .search-bar__input:active {
  outline: #f6af44;
}
.search-bar .search-bar__inputs .search-bar__input::placeholder {
  font-family: "Roboto", sans-serif;
}
.search-bar .search-bar__inputs .search-bar__button {
  width: 2rem;
  height: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0 5px 5px 0;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.search-bar .search-bar__inputs .search-bar__button .fa-search {
  color: #212121;
}
.search-bar .search-bar__inputs .search-bar__button:hover {
  background-color: #d4d4d4;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.search-bar .search-bar__inputs .search-bar__sound {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: #ebebeb;
  display: flex;
  align-items: center;
  margin: auto 1rem;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.search-bar .search-bar__inputs .search-bar__sound:hover {
  color: #d4d4d4;
}

.navigation {
  grid-area: info;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: end;
  margin-right: 1rem;
}
.navigation .navigation__bell {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: #ebebeb;
  display: flex;
  align-items: center;
  margin: auto 1rem;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.navigation .navigation__bell:hover {
  color: #d4d4d4;
}
@media screen and (max-width: 700px) {
  .navigation .navigation__bell {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #f6af44;
  border-radius: 50%;
  background-color: #f6af44;
  position: relative;
}
.menu:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.menu:hover .menu__links {
  display: flex;
}
.menu .fa-paw {
  max-width: 30%;
}
.menu .menu__links {
  padding-top: 30px;
  top: 2rem;
  right: 0;
  position: absolute;
  display: none;
}
.menu .menu__links .menu__links-container {
  flex-flow: column nowrap;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.36);
  background-color: white;
  border-radius: 5px;
}
.menu .menu__links .menu__links-container .menu__link {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  width: 10rem;
  text-decoration: none;
  color: #212121;
}
.menu .menu__links .menu__links-container .menu__link:hover {
  background-color: #ebebeb;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.menu .menu__links .menu__links-container .menu__link .fas {
  width: 1rem;
  height: 1rem;
  margin: 0;
}
.menu .menu__links .menu__links-container .menu__link .menu__text {
  margin: 0;
}
.menu .menu__links .menu__links-container .menu__link_color_red {
  color: red;
  border-top: 1px solid #212121;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid: "channels" "links";
  grid-template-rows: 1fr 200px;
  gap: 1px;
  height: calc(100vh - 80px);
  position: sticky;
  bottom: 0;
  top: 80px;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    grid: "channels";
  }
}

.channels {
  grid-area: channels;
  background-color: #ebebeb;
  overflow-y: scroll;
}
.channels::-webkit-scrollbar {
  display: none;
}
.channels .channel {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  font-weight: 700;
  gap: 5px;
}
.channels .channel:hover {
  background-color: #d4d4d4;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
@media screen and (max-width: 1250px) {
  .channels .channel {
    justify-content: center;
    padding: 1rem 0;
  }
}
.channels .channel .channel__profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  overflow: hidden;
}
.channels .channel .channel__profile-image img {
  margin: auto;
  max-width: 100%;
}
@media screen and (max-width: 1250px) {
  .channels .channel .channel__profile-image {
    width: 2rem;
  }
}
.channels .channel .channel__info {
  display: flex;
  flex-flow: row nowrap;
  width: 215px;
  align-items: center;
  text-decoration: none;
  padding: 0;
  justify-content: space-between;
  color: #212121;
  font-weight: 700;
  gap: 5px;
}
@media screen and (max-width: 1250px) {
  .channels .channel .channel__info {
    display: none;
  }
}
.channels .channel .channel__info .channel__text {
  width: 60%;
}
.channels .channel .channel__info .channel__text .channel__name {
  width: fit-content;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.channels .channel .channel__info .channel__text .channel__name:hover {
  color: blue;
}
.channels .channel .channel__info .channel__status {
  display: flex;
  width: 2rem;
  height: 2rem;
}
.channels .channel .channel__info .channel__status .active {
  background: #ff5252;
  box-shadow: 0 0 0 0 #ff5252;
  border-radius: 50%;
  margin: 10px;
  height: 0.5rem;
  width: 0.5rem;
  transform: scale(1);
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.links {
  grid-area: links;
  background-color: #ebebeb;
  padding: 15px;
}
@media screen and (max-width: 1250px) {
  .links {
    display: none;
  }
}
.links .links__container {
  background-color: #d4d4d4;
  border-radius: 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.links .links__container .links__title .links__heading {
  margin: 0;
}
.links .links__container .links__social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.links .links__container .links__social .link {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: #212121;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.links .links__container .links__social .link:hover {
  color: blue;
}

.streams__carousel {
  grid-area: carousel;
}
.streams__carousel .carousel {
  height: 100%;
  position: relative;
}
.streams__carousel .carousel .carousel__item {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  width: 65%;
  height: 430px;
  margin: auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
@media screen and (max-width: 1250px) {
  .streams__carousel .carousel .carousel__item {
    width: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .streams__carousel .carousel .carousel__item {
    width: 75%;
    height: 330px;
  }
}
@media screen and (max-width: 700px) {
  .streams__carousel .carousel .carousel__item {
    width: 85%;
    height: 250px;
  }
}
.streams__carousel .carousel .carousel__item .carousel__image {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  width: 70%;
  height: 100%;
}
.streams__carousel .carousel .carousel__item .carousel__image img {
  display: block;
  width: 100%;
  max-height: none;
  margin: auto 0;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__status {
  display: none;
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  background-color: red;
  top: 10px;
  left: 10px;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__status p {
  margin: 0 5px;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__status_active {
  display: block;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__info {
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  background: rgba(200, 54, 54, 0.5);
  bottom: 10px;
  right: 10px;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__info p {
  margin: 0 5px;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__play {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
  opacity: 0;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.streams__carousel .carousel .carousel__item .carousel__image .video__play .fas {
  width: 100%;
  height: 100%;
}
.streams__carousel .carousel .carousel__item .carousel__image:hover img {
  opacity: 0.4;
  transition: opacity 0.5s;
}
.streams__carousel .carousel .carousel__item .carousel__image:hover .video__play {
  opacity: 1;
  transition: opacity 0.5s;
}
@media screen and (max-width: 700px) {
  .streams__carousel .carousel .carousel__item .carousel__image {
    width: 80%;
  }
}
.streams__carousel .carousel .carousel__item .info {
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ebebeb;
  width: 30%;
}
@media screen and (max-width: 700px) {
  .streams__carousel .carousel .carousel__item .info {
    width: 20%;
  }
}
.streams__carousel .carousel .carousel__item .info .gallery__info {
  max-height: 100%;
  width: 100%;
  display: flex;
  padding: 5px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  overflow: hidden;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__profile img {
  margin: auto;
  max-width: 100%;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__text {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__text a {
  text-decoration: none;
  color: #212121;
  width: fit-content;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__text a:hover {
  color: blue;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__text .video-name {
  font-weight: bold;
}
.streams__carousel .carousel .carousel__item .info .gallery__info .gallery__text .profile-name {
  font-size: 0.8rem;
}
.streams__carousel .carousel .carousel__item .info .text {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 1%;
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
.gallery .gallery__item {
  width: 100%;
  max-width: 100%;
}
.gallery .gallery__item .gallery__video {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 300px;
}
.gallery .gallery__item .gallery__video img {
  display: block;
  width: 100%;
  max-height: none;
  margin: auto 0;
}
.gallery .gallery__item .gallery__video .video__status {
  display: none;
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  background-color: red;
  top: 10px;
  left: 10px;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.gallery .gallery__item .gallery__video .video__status p {
  margin: 0 5px;
}
.gallery .gallery__item .gallery__video .video__status_active {
  display: block;
}
.gallery .gallery__item .gallery__video .video__info {
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  background: rgba(200, 54, 54, 0.5);
  bottom: 10px;
  right: 10px;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.gallery .gallery__item .gallery__video .video__info p {
  margin: 0 5px;
}
.gallery .gallery__item .gallery__video .video__play {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
  opacity: 0;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.gallery .gallery__item .gallery__video .video__play .fas {
  width: 100%;
  height: 100%;
}
.gallery .gallery__item .gallery__video:hover img {
  opacity: 0.4;
  transition: opacity 0.5s;
}
.gallery .gallery__item .gallery__video:hover .video__play {
  opacity: 1;
  transition: opacity 0.5s;
}
@media screen and (max-width: 1750px) {
  .gallery .gallery__item .gallery__video {
    height: 200px;
  }
}
@media screen and (max-width: 700px) {
  .gallery .gallery__item .gallery__video {
    height: 250px;
  }
}
.gallery .gallery__item .gallery__video .video__info {
  position: absolute;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  background: rgba(200, 54, 54, 0.5);
  bottom: 10px;
  right: 10px;
}
.gallery .gallery__item .gallery__video .video__info p {
  margin: 0 5px;
}
.gallery .gallery__item .gallery__info {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  gap: 5px;
}
.gallery .gallery__item .gallery__info .gallery__profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  overflow: hidden;
  background-color: #ebebeb;
}
.gallery .gallery__item .gallery__info .gallery__profile img {
  margin: auto;
  max-width: 100%;
}
.gallery .gallery__item .gallery__info .gallery__text {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
}
.gallery .gallery__item .gallery__info .gallery__text a {
  text-decoration: none;
  color: #212121;
  width: fit-content;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.gallery .gallery__item .gallery__info .gallery__text a:hover {
  color: blue;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.gallery .gallery__item .gallery__info .gallery__text .video-name {
  font-weight: bold;
}
.gallery .gallery__item .gallery__info .gallery__text .profile-name {
  font-size: 0.8rem;
}
.gallery .gallery__item .gallery__info .gallery__settings {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: "Roboto", sans-serif;
  width: fit-content;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}
.gallery .gallery__item .gallery__info .gallery__settings:hover {
  color: blue;
}

.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  color: #212121;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 80px;
}
.footer .footer__capture {
  display: flex;
  flex-flow: row nowrap;
  color: #212121;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .footer__capture .footer__text {
  margin: 0;
  font-weight: 700;
}
.footer .footer__capture .footer__link {
  width: 1rem;
  height: 1rem;
  color: #212121;
}
.footer .footer__capture .footer__link:hover {
  color: blue;
  cursor: url("../icons/_cursors/tiger.svg") 9 0, auto;
}

/*# sourceMappingURL=style.css.map */
